<h2><%= @title %></h2>
<p><%= @desc %></p>

<h4>You can</h4>
<ul>
<li><a href="#" onclick="window.history.go(-1);">Go back to the previous page</a></li>
<li><a href="/">Go back to the home page</a></li>
</ul>