<!DOCTYPE html>
<html>
<head>
	<title>Steps To - Welcome</title>
	<%= erb :css %>
</head>
<body>
<p>Welcome to Steps To, the open source version of WikiHow. <a href="/guides">Click here for a list of guides</a>.</p>
</body>
</html>
