<p>Welcome to Steps To, the open source version of WikiHow.</p>

<script type="text/javascript">
  function search() {
    let hostname = location.protocol + '//' + location.hostname + (location.port ? ':' + location.port: '');
    let url = hostname + "/search/" + document.getElementById('term').value;
    location.href = url;
    return false;
  }
</script>

<p>Search for a guide</p>
<form onsubmit="return search();" method="get">
  <input type="text" class="searchbar" id="term" placeholder="Search...">
  <button class="searchbutton">Search</button>
</form>

<h3>The guides we have</h3>

<ul>
<% @guides.each do |letter, guides| %>
  <li>
    <%= letter %>
    <ul>
      <% for @guide in guides %>
        <li><a href="/<%= @guide[:path] %>"><%= @guide[:title] %></a></li>
      <% end %>
    </ul>
  </li>
<% end %>
</ul>

<a href="/info">Info and Contact</a>
