<h3>Info and contact</h3>
<h4>Info</h4>
<p>
  Steps To is a website for sharing and reading guides, everyone can write and submit guides via GitHub, and if it is not a joke, it will be added.
</p>
<p>
    This project was made by Eli Saado to explore Ruby and Sinatra and also refresh his HTML and CSS
</p>

<h4>Contact</h4>
<p>
  The creator of this project, Eli Saado, can be contacted in these ways:
  <ul>
    <li>
      Telegram: <a href="https://t.me/elinotly>">@elinotly</a>
    </li>
    <li>
      Email: <a href="mailto:eli5saado@gmail.com">eli5saado@gmail.com</a>
    </li>
  </ul>
</p>

<p>
  The contributors of this project can be found on <a href="https://github.com/elisaado/steps-to/graphs/contributors">GitHub</a>
</p>
