<!DOCTYPE html>
<html lang="">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> 
<link rel="stylesheet" type="text/css" href="/css/style.css">

<title>Steps To - <%= @title %></title>
</head>
<body>
<a href="/"><h1>Steps To</h1></a>
<%= erb @body %>
<footer>
	Do you want to write a guide? Read <a href="/guides/write_a_guide">this guide</a> and submit a pull request to the <a href="https://github.com/elisaado/steps-to">repository.</a>
</footer>
</body>
</html>
