body {
  font-family: 'Comic sans MS', 'Lato', sans-serif;
  color: #3E3E3E;
}

/* unvisited link */
a:link {
  color: #3B7BB8;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #3B7BB8;
}

/* mouse over link */
a:hover {
  color: #396D9E;
}

/* selected link */
a:active {
  color: #1E4E7A;
}

/* Thank you, css-tricks user Patrick Denny */
/* footer */
html { 
  height: 100%; 
}

body {
  min-height: 90%;
  position: relative;
  padding-bottom: [footer-height];
}

/* Search stuff */
.searchbar {

}

.searchbutton {

}
